<div class="card">
  <h5 class="card-header">Informations pour la création d'un étudiant</h5>

  <div class="card-body">
    <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="firstName">Prénom</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          placeholder="Ex: Minji"
          formControlName="firstName"
          data-cy="student-firstName"
        />
        <div
          *ngIf="
            studentForm.get('firstName')?.touched &&
            studentForm.get('firstName')?.invalid
          "
        >
          <small
            class="text-danger"
            *ngIf="studentForm.get('firstName')?.errors?.['required']"
          >
            Le prénom est obligatoire
          </small>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="lastName">Nom</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          placeholder="Ex: Kim"
          formControlName="lastName"
          data-cy="student-lastName"
        />
        <div
          *ngIf="
            studentForm.get('lastName')?.touched &&
            studentForm.get('lastName')?.invalid
          "
        >
          <small
            class="text-danger"
            *ngIf="studentForm.get('lastName')?.errors?.['required']"
          >
            Le nom est obligatoire
          </small>
        </div>
      </div>

      <div class="form-group mb-4">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="ex: minji.kim@mail.com"
          formControlName="email"
          data-cy="student-email"
        />
        <div
          *ngIf="
            studentForm.get('email')?.touched &&
            studentForm.get('email')?.invalid
          "
        >
          <small
            class="text-danger"
            *ngIf="studentForm.get('email')?.errors?.['required']"
          >
            L'email est obligatoire
          </small>

          <small
            class="text-danger"
            *ngIf="studentForm.get('email')?.errors?.['email']"
          >
            Format d’email invalide
          </small>
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-secondary mr-2"
        >
          Annuler
        </button>

        <button
          type="submit"
          class="btn btn-primary"
          data-cy="student-create-submit"
        >
          Créer
        </button>
      </div>
    </form>
    <div class="text-danger mt-3" *ngIf="errorMessage">{{ errorMessage }}</div>
  </div>
</div>
