<div class="card">
  <h5 class="card-header">Modification d'un étudiant</h5>

  <div class="card-body">
    <form>
      <div class="form-group mb-3">
        <label for="firstName">Prénom</label>
        <input
          type="text"
          id="firstName"
          class="form-control"
          placeholder="Ex: Minji"
        />
      </div>

      <div class="form-group mb-3">
        <label for="lastName">Nom</label>
        <input
          type="text"
          id="lastName"
          class="form-control"
          placeholder="Ex: Kim"
        />
      </div>

      <div class="form-group mb-4">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="ex: minji.kim@mail.com"
        />
      </div>

      <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-secondary mr-2">Annuler</button>

        <button type="submit" class="btn btn-primary">
          Appliquer les modifications
        </button>
      </div>
    </form>
  </div>
</div>
