<div class="card m-3">
  <h5 class="card-header">Login</h5>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="login">Login</label>
        <input
          type="text"
          id="login"
          class="form-control"
          placeholder="Enter your login"
        />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          placeholder="Enter your password"
        />
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary mr-1">Login</button>

        <button type="reset" class="btn btn-secondary">Cancel</button>
      </div>
    </form>
  </div>
</div>
